version: '3.8'

services:
  web:
    build: .
    ports:
      - '5000:5000'
    depends_on:
      - redis
    environment:
      REDIS_HOST: redis

  redis:
    image: "redis:7.4.2"
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  redis-data:
